.btn-primary{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    float: right;
}
.form-check-input{
    margin-left: 20px;
}
#photo{
    margin-top: 3px;
}
.phone-button{
    margin-top: 8px;
}
.input-first-phone  {
    margin-bottom: 12px;
}
